// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bookers{
  margin:33px;
}

table{
  display: flex;
  justify-content: center;
  align-items: center;
  border-spacing: 15px 0px;
}
